<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    <title>AccessDenied</title>
</head>
<body>
    <div class="container-fluid bg-light bg-gradient opacity-25 contain">
        <div class="container-fluid h1 text-danger text-center pt-5">
            Access Denied
        </div>
    </div>
    <script src="../../bootstrap/js/bootstrap.min.js"></script>
</body>
</html>